body {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}

.container {
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    padding: 5px;
    width: 550px;
    height: 700px;
}

.buttonBar {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    
}

#clear-button {
    background: url("/img/ban-solid.svg") no-repeat;
    border: none;
    padding: 0;
    margin: 0;
    width: 50px; 
    height: 50px;
    margin: 15px;
  }
.countdown {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 100px;
}

.startTimer {
    display: block;
    margin: 20px auto 0;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: green;
    color: white;
    font-size: 24px;
    line-height: 100px;
    border: none;
}



.current {
    background-color: green;
}

